<div class="wrapper">
    <app-fil-leser></app-fil-leser>

    <i class="credit0"><a href="https://github.com/ravo10/unoffical-lua-minifier-app" target="_blank" rel="noopener" target="GitHub">Beta 0.0.2</a> <sub style="font-size: 0.8em;"> ( supports basic GLUA convertion; but not
        <span style="font-family: monospace;"><a href="http://lua-users.org/wiki/ContinueProposal" target="_blank" rel="noopener" title="Use any of these methods instead (GMOD curr. uses LUA 5.1).">continue</a></span>
        and
        <span style="font-family: monospace;">"// comments"</span> )</sub></i>
    <i class="credit1">
        Uses <b>luamin API</b> from
        <a href="https://github.com/mathiasbynens/luamin" target="_blank" rel="noopener" target="GitHub">mathiasbynens</a>.
    </i>
</div>